.skiptranslate iframe  {
    visibility: hidden !important;
} 

body{
    top:0!important;
    background: linear-gradient(67deg,#70AFED ,#1F6CB5 25%);
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    letter-spacing: 1px;
}

nav{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5%;
}

.nav__links a,
.cta,
.overlay__content a {
    font-weight: 400;
    color: #edf0f1;
    text-decoration: none;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links li {
    padding: 0px 20px;
}

.nav__links li a {
    transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #383838;
}

.cta {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}

.cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.menu {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #486ba7;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
}

.overlay--active {
    width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
    color: #383838;
}
.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
}

.parent{
    margin: 0;
    padding: 0;
    width: 100%;
    display:flex;
}

.container{
    width:100%;
}

.text{
    padding-left: 70px;
}

p{
    white-space: nowrap; 
}

.header-text{
    font-size: 50px;
    color:#FFFFFF;
    font-weight: 300;
    margin-top: 25px;
}

.header-text2{
    font-size: 50px;
    color:#FFFFFF;
    margin-top: -50px;
    font-weight: 400;
}

.info-text{
    font-size: 20px;
    color:#FFFFFF;
    margin-top: -40px;
    font-weight: 300;
}

.logo{
    height: 65px;
    cursor: pointer;
    padding: 10px 0px 10px;
}

.doctor{
    height: 470px;
    position: absolute;
    bottom: 0;
    padding-left: 270px;
    z-index: -1;
}

.sign-in {
    width: 450px;
    min-height: 400px;
    background: #F4F7FF;
    border-radius: 40px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 20px 40px;
}

.container-box{
    position: relative;
    margin: 0 auto;
    right: 0px;
    width:100%;
    float: right;
    padding: 0px 0px 0px 90px;
}

.container-box .sign-in .form input{
    width: 83%;
    height: 100%;
    border:none;
    border-bottom: 2px solid #B9B9B9;
    padding: 14px 35px;
    font-size: 1rem;
    border-radius: 0px;
    background: transparent;
    outline: none;
    margin-bottom: 20px;
}

.container-box .sign-in .log-btn{
    display: block;
    width: 100%;
    padding: 13px 20px;
    text-align: center;
    border: none;
    background: #F2C1A7;
    outline: none;
    border-radius: 10px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    margin-bottom: 20px;
}

.fonticon {
    position: relative;
    }
      
.fonticon i{
    position: absolute;
    right: 15px;
    top: 35px;
    color: gray;
}

.fonticon .fa-solid{
    position: relative;
    left: 7px;
    top: 32px;
    color: #575757;
}

a {
    font-weight: 300;
    text-decoration: none;
    color: #FFFFFF;
    letter-spacing: 1px;
    font-size: 14px;
}

.translate {
    float: left;
}

.links{
    position: absolute;
    padding-top: 35px;
    width: 80%;
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.checkbox-text{
    margin: -20px 0px 20px 24px;
    font-size: 15px;
    font-weight: 300;
    color: #575757;
}

label{
    position:absolute;
    left: 2px;
    font-size: 16px;
    color: #575757;
}

h1{
    color: #2F2F2F;
    font-weight: 500;
}

.a-forgot{
    float: right;
    margin-right: 0px;
    text-decoration: none;
    color: #404AD0;
    font-size: 14px;
}

.text-dha{
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #575757;
    padding: 12px;
}

.lines{
    width: 100%;
    height: 45px;
    position: relative;
}

.lines::after, .lines::before{
    content: '';
    position: absolute;
    height: 1.2px;
    margin: auto;
    background: #2F2F2F;
    width: 25%;
    top: 45%;
}

.lines::after{
    left: 0;
}

.lines::before{
    right: 0;
}

.text-visit{
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: #575757;
    width:100%;
    word-wrap: break-word;
    white-space: normal
}

.text-cont{
    padding: 10px;
    margin-top: 30px;
}

@media (max-width: 1350px) {

    .overlay a {
        font-size: 20px;
    }
    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: -13px;
    }

    .header-text2{
        font-size: 40px;
    }

    .header-text{
        font-size: 40px;
    }

    .info-text{
        font-size: 15px;
    }

    .doctor{
    padding: 0px 125px ;
    }
}

@media (max-width: 1225px) {

    nav{
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        padding: 10px 32px;
    }

    .menu{
        display:none;
    }

    .nav__links,
    .cta {
        display: none;
    }
    .menu {
        display: initial;
    }

    .header-text2{
        text-align: center;
        font-size: 35px;
        margin-top: -37px;
    }

    .header-text{
        margin-top: 0px;
        text-align: center;
        font-size: 30px;
    }

    .info-text{
        text-align: center;
        font-size: 12px;
        margin-top: -30px;
        padding-right: 0px;
    }

    .container-box{
        height: 75%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -32%);
    }

    .doctor{
        display:none;
    }
    .text{
        padding-left: 0px;
    }

    .sign-in{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 360px;
        min-height: auto;
    }

    .container-box .sign-in .form input{
        height: 90%;
        padding: 10px 27px;
        font-size: 1rem;
    }

    .container-box .sign-in .log-btn{
        width: 100%;
        padding: 10px 17px;
        font-size: 1rem;
    }

    label{
        font-size: 15px;
    }

    h1{
        text-align:center;
        font-size: 25px;
    }

    .checkbox-text{
        font-size: 13px;
    }

    .text-dha{
        font-size: 13px;
    }

    .text-visit{
        font-size: 13px;
    }

    a {
        font-size: 13px;
    }

    .links{
        bottom: 0px;
        position: absolute;
        width: 80%;
    }

    
}


/* forgot pass */ 
.forgot_pass{
        width: 450px;
        min-height: 430px;
        background: #F4F7FF;
        border-radius: 40px;
        box-shadow: 0 0 5px rgba(0,0,0,.3);
        padding: 20px 40px;
    }

    .container-box{
        position: relative;
        margin: 0 auto;
        right: 0px;
        width:100%;
        float: right;
        padding: 0px 0px 0px 90px;
    }

.container-box .forgot_pass .form input{
        width: 85%;
        height: 100%;
        border:none;
        border-bottom: 2px solid #B9B9B9;
        padding: 13px 35px;
        font-size: 1rem;
        border-radius: 0px;
        background: transparent;
        outline: none;
        margin-bottom: 20px;
    }

    .container-box .forgot_pass .log-btn{
        display: block;
        width: 100%;
        padding: 13px 20px;
        text-align: center;
        border: none;
        background: #F2C1A7;
        outline: none;
        border-radius: 10px;
        font-size: 1.2rem;
        color: #FFF;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .text-rem{
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        color: #575757;
        width:100%;
        word-wrap: break-word;
        white-space: normal
    }    

    .a-cancel{
        float: right;
        margin-right: 0px;
        text-decoration: none;
        color: #404AD0;
        font-size: 14px;
    }

    @media (max-width: 1350px) {

        .overlay a {
            font-size: 20px;
        }
        .overlay .close {
            font-size: 40px;
            top: 15px;
            right: -13px;
        }
    
        .header-text2{
        font-size: 40px;
        }
    
        .header-text{
        font-size: 40px;
        }
    
        .info-text{
            font-size: 15px;
        }
    
        .doctor{
            padding: 0px 125px ;
        }
    }

@media (max-width: 1225px) {

    .header-text2{
        text-align: center;
        font-size: 35px;
        margin-top: -37px;
    }

    .header-text{
        margin-top: 0px;
        text-align: center;
        font-size: 30px;
    }

    .info-text{
        text-align: center;
        font-size: 12px;
        margin-top: -30px;
        padding-right: 0px;
    }

    .container-box{
        height: 75%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -32%);
    }

    .doctor{
        display:none;
    }
    .text{
        padding-left: 0px;
    }

    .forgot_pass{
        margin: 0;
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 360px;
        min-height: auto;
    }

    .container-box .forgot_pass .form input{
        height: 90%;
        padding: 10px 27px;
        font-size: 1rem;
    }

    .container-box .forgot_pass .log-btn{
        width: 100%;
        padding: 10px 17px;
        font-size: 1rem;
    }

    label{
        font-size: 15px;
    }

    h1{
        text-align:center;
        font-size: 25px;
    }

    a {
        font-size: 13px;
    }

    .text-rem{
        font-size: 13px;
        
    }    
}

/* forgot pass recovery*/ 
.reco-pass{
    width: 450px;
    min-height: 460px;
    background: #F4F7FF;
    border-radius: 40px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 20px 40px;
}

.container-box{
    position: relative;
    margin: 0 auto;
    right: 0px;
    width:100%;
    float: right;
    padding: 0px 0px 0px 90px;
}

.container-box .reco-pass .form input{
    width: 85%;
    height: 100%;
    border:none;
    border-bottom: 2px solid #B9B9B9;
    padding: 13px 35px;
    font-size: 1rem;
    border-radius: 0px;
    background: transparent;
    outline: none;
    margin-bottom: 20px;
}

.container-box .reco-pass .log-btn{
    display: block;
    width: 100%;
    padding: 13px 20px;
    text-align: center;
    border: none;
    background: #F2C1A7;
    outline: none;
    border-radius: 10px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    margin-bottom: 20px;
}
.a-cancel2{
    float: right;
    margin-top: 33px;
    margin-right: 25%;
    text-decoration: none;
    color: #575757;
}

.fonticon .fa-angle-left{
    margin-left: 25%;
    color: #575757;
}

.a-resend{
    text-decoration: none;
    color: #404AD0;
    font-size: 14px;
}

.lines2{
    width: 100%;
    height: 45px;
    position: relative;
}

.lines2::after, .lines2::before{
    content: '';
    position: absolute;
    height: 1.2px;
    margin: auto;
    background: #2F2F2F;
    width: 6%;
    top: 39%;
}

.lines2::after{
    left: 0;
}

.lines2::before{
    right: 0;
}

.didnt-recieve{
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    color: #575757;
    padding: 10px 0px;
    width:100%;
    word-wrap: break-word;
    white-space: normal
}

.text-cont{
    padding: 10px;
    margin-top: 10%;
}

@media (max-width: 1350px) {

    .overlay a {
        font-size: 20px;
    }
    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: -13px;
    }

    .header-text2{
    font-size: 40px;
    }

    .header-text{
    font-size: 40px;
    }

    .info-text{
        font-size: 15px;
    }

    .doctor{
        padding: 0px 125px ;
    }
}

@media (max-width: 1225px) {


    .header-text2{
        text-align: center;
        font-size: 35px;
        margin-top: -37px;
    }

    .header-text{
        margin-top: 0px;
        text-align: center;
        font-size: 30px;
    }

    .info-text{
        text-align: center;
        font-size: 12px;
        margin-top: -30px;
        padding-right: 0px;
    }

    .container-box{
        height: 75%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -32%);
    }

    .doctor{
        display:none;
    }
    .text{
        padding-left: 0px;
    }

    .reco-pass{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 360px;
        min-height: auto;
    }

    .container-box .reco-pass .form input{
        height: 90%;
        padding: 10px 27px;
        font-size: 1rem;
    }

    .container-box .reco-pass .log-btn{
        width: 100%;
        padding: 10px 17px;
        font-size: 1rem;
    }

    label{
        font-size: 15px;
    }

    h1{
        text-align:center;
        font-size: 25px;
    }

    a {
        font-size: 13px;
        
    }

    .links{
        position: absolute;
        width: 80%;
    }
    .fonticon i {
        top: 34px;
    }
    .fonticon .fa-angle-left{
        position:sticky;
        margin-top: 13px;
    }

    .didnt-recieve{
        font-size: 12px;
    }

    .a-resend{
        font-size: 12px;
    }

    .text-cont{
        margin-top: 0%;
    }

    .a-cancel2{
        margin-top: 12px;
        font-size: 12px;
    }
}


/* success reset pass */ 
.container-box{
    position: relative;
    margin: 0 auto;
    right: 0px;
    width:100%;
    float: right;
    height: 75%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box{
    width: 450px;
    height: 200px;
    background: #F4F7FF;
    border-radius: 40px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 20px 40px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 390px;
    min-height: auto;
}

h1{
    text-align:center;
    color: #2F2F2F;
    font-weight: 500;
    font-size: 28px;
}

p{
    text-align:center;
    font-size: 17px;
    color: #575757;

}

.log{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    text-decoration: none;
    color: #404AD0;
}

@media (max-width: 1225px) {

    .box{
        width: 360px;
    }
}

/*reset pass*/
